<div class="page-group">
  <div class="Left-section">
    <div class="box rappel-box">
      <h2>Rappels</h2>
    </div>
    <!-- rappels à faire -->
    <div class="table-container top-box">
      <table>
        <tr> 
          
          <th class="th-empty emptyFirst"></th>
          <th class="th titre">Titre</th>
          <th class="th date_debut">Date de création</th>
          <th class="th date_echeance">Date d'échéance</th>
          <th class="th description">Description</th>
          <th class="th UserFinishTask">Tache achevé Utilisateur</th>
          <th class="th action">Action</th>
        </tr>
        {{#each rappelsAfaire}}
        <tr class="space">
          {{#if fait}}
          <td class="ButtonCochable"><a class="td ButtonFinirRappel"
              href="/finir/{{this.IDGroup}}/{{this.IDRappel}}/0">Annuler</a></td>
          {{else}}
          <td class="ButtonCochable"><a class="td ButtonFinirRappel"
              href="/finir/{{this.IDGroup}}/{{this.IDRappel}}/1">Finir</a></td>
          {{/if}}
          <td class="td" style="background-color: {{this.couleur}}">{{this.titre}}</td>
          <td class="td" style="background-color: {{this.couleur}}">{{this.dateCreation}}</td>
          <td class="td" style="background-color: {{this.couleur}}">{{this.dateFin}}</td>
          <td class="td" style="background-color: {{this.couleur}}">{{{this.description}}}</td>
          <td class="td" style="background-color: {{this.couleur}}">
            {{#each checkNom}}
            {{this.prenom}} {{this.nom}}<br>
            {{/each}}
          </td>
          <td class="td ButtonUpdateAndSupprRappel">
            <a class="td ButtonUpdateRappel" href="/rappel/{{this.IDGroup}}/{{this.IDRappel}}"
              class="BoutonUpdateRappel">Modifier un
              rappel</a>
            <a class="td ButtonSupprRappel" href="/suppression/{{this.IDGroup}}/{{this.IDRappel}}"
              class="BoutonUpdateRappel">Supprimer un
              rappel</a>
          </td>
        </tr>
        {{/each}}
      </table>
      <a href="/rappel/{{this.IdGroup}}" class="BoutonCreateRappel">Créer un rappel !</a>

    </div>
    <div class="box rappel-box Rappels_depasses">
      <h2>Rappels dépassés</h2>
    </div>
    <div class="table-container">
      <table>
        <tr class="Rappele-depasse-titre-tableau">
          <th class="th titre">Titre</th>
          <th class="th date_debut">Date de création</th>
          <th class="th date_echeance">Date d'échéance</th>
          <th class="th description">Description</th>
          <th class="th UserFinishTask">Tache achevé Utilisateur</th>
        </tr>
        {{#each rappelsDepasse}}
        <tr class="data-dépassés" style="background-color: {{this.couleur}}">
          <td class="td">{{this.titre}}</td>
          <td class="td">{{this.dateCreation}}</td>
          <td class="td">{{this.dateFin}}</td>
          <td class="td">{{this.description}}</td>
          <td class="td" style="background-color: {{this.couleur}}">
            {{#each checkNom}}
            {{this.prenom}} {{this.nom}}<br>
            {{/each}}
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>


  <div class="Right-section">
    <button type="button" class="BoutonCreateUser" onclick="toggleUserForm()">Ajouter un utilisateur</button>
    <!-- Formulaire d'ajout d'utilisateur (initialement masqué) -->
    <form method="post" class="form-user-container CreateUserButton" id="createUserForm" style="display: none;">
      <h2 class="mb-4">Formulaire d'ajout d'utilisateur</h2>
      <div class="mb-3">
        <label class="form-label">Email utilisateur</label>
        <input type="email" class="form-control" id="emailUtilisateur" name="emailUtilisateur" required>
      </div>
      <div class="bouton">
        <button type="submit" class="btn btn-primary btn-submit">Ajouter</button>
      </div>
    </form>

    <div class="user-list-section">
      <div class="box user-list-box">
        <h3>Liste des utilisateurs</h3>
        <div class="table-wrapper">
          <table id="userListTable">
            <tbody id="userList">
              {{#each membres}}
              <tr>
                <td>{{this.prenom}} {{this.nom}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--l'affichage/masquage du formulaire d'ajout d'utilisateur-->
  <script>
    function toggleUserForm() {
      var form = document.getElementById("createUserForm");
      if (form.style.display === "none") {
        form.style.display = "block";
      } else {
        form.style.display = "none";
      }
    }
  </script>
</div>