<div class="page-group">
  <div class="Left-section">
    <div class="box rappel-box">
      <h2>Rappels</h2>
    </div>
    <div class="table-container top-box">
      <table>
        <tr>
          <th class="titre">Titre</th>
          <th class="date_debut">Date_debut</th>
          <th class="date_echeance">Date_échéance</th>
          <th class="description">Description</th>
        </tr>
        {{#each rappelsAfaire}}
        <tr class="space" style="background-color: {{this.couleur}}">
          <td>{{this.titre}}</td>
          <td>{{this.dateFin}}</td>
          <td>{{this.description}}</td>
        </tr>
        {{/each}}
      </table>
            <a href="/rappel/{{this.IdGroup}}" class="BoutonCreateRappel">Créer un rappel !</a>

    </div>
    <div class="box rappel-box Rappels_depasses">
      <h2>Rappels dépassés</h2>
    </div>
    <div class="table-container">
      <table>
        <tr>
          <th class="titre">Titre</th>
          <th class="date_debut">Date_debut</th>
          <th class="date_echeance">Date_échéance</th>
          <th class="description">Description</th>
        </tr>
        {{#each rappelsDepasse}}
        <tr class="data-dépassés" style="background-color: {{this.couleur}}">
          <td>{{this.titre}}</td>
          <td>{{this.dateFin}}</td>
          <td>{{this.description}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>


  <div class="Right-section">
    <button type="button" class="BoutonCreateUser" onclick="toggleUserForm()">Ajouter un utilisateur</button>
    <form method="post" class="form-user-container CreateUserButton" id="createUserForm" style="display: none;">
      <h2 class="mb-4">Formulaire d'ajout d'utilisateur</h2>
      <div class="mb-3">
        <label class="form-label">Email utilisateur</label>
        <input type="email" class="form-control" id="emailUtilisateur" name="emailUtilisateur" required>
      </div>
      <div class="bouton">
        <button type="submit" class="btn btn-primary btn-submit">Ajouter</button>
      </div>
    </form>

    <div class="user-list-section">
      <div class="box user-list-box">
        <h3>Liste des utilisateurs</h3>
        <div class="table-wrapper">
          <table id="userListTable">
            <tbody id="userList">
              {{#each membres}}
              <tr>
                <td>{{this.prenom}} {{this.nom}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    function toggleUserForm() {
      var form = document.getElementById("createUserForm");
      if (form.style.display === "none") {
        form.style.display = "block";
      } else {
        form.style.display = "none";
      }
    }
  </script>
</div>
