<div class="box-container">
  <div class="groupe pair">
    <div class="box groupe-box">
      <h2>Groupes</h2>
    </div>
    <div class="table-container">
      <table>
        <tr>
          <th class="th">GroupeID</th>
          <th class="th">Nom</th>
        </tr>
        {{#each groups}}
        <tr>
          <td class="td">{{this.IDGroup}}</td>
          <td class="td">
            <a class="groups-data" href="/groupes/{{this.IDGroup}}">{{this.nom}}</a>
          </td>
        </tr>
        {{/each}}
      </table>

      <!-- Bouton pour créer un nouveau groupe -->
      <button type="button" class="BoutonCreateGroup" onclick="toggleForm()">Créer un groupe !</button>

      <!-- Formulaire de création de groupe (initialement masqué) -->
      <form method="post" class="form-container CreateGroupButton" id="createGroupForm" style="display: none;">
        <h2 class="mb-4">Formulaire de création de groupe</h2>
        <div class="mb-3">
          <label class="form-label">Nom du groupe</label>
          <input type="name" class="form-control" id="nomGroupe" name="nomGroupe" required>
        </div>
        <div class="bouton">
          <button type="submit" class="btn btn-primary btn-submit">Créer</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Section des rappels -->
  <div class="rappel pair">
    <div class="box rappel-box">
      <h2>Rappels</h2>
    </div>
    <div class="table-container">
      <table>
        <tr>
          <th class="th">Titre</th>
          <th class="th">Date</th>
          <th class="th">Groupe référence</th>
        </tr>
        {{#each rappelsAfaire}}
        <tr style="background-color: {{this.couleur}}">
          <td class="td">{{this.titre}}</td>
          <td class="td">{{this.dateFin}}</td>
          <td class="td">
            <a class="groups-data" href="/groupes/{{this.IDGroup}}">{{this.nomGroup}}</a>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>

<!--l'affichage/masquage du formulaire d'ajout d'utilisateur-->
<script>
  function toggleForm() {
    var form = document.getElementById("createGroupForm");
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
</script>