<!-- Gestion générale des rappels -->
<form action="/rappel/{{idGroup}}/{{rappel.IDRappel}}" method="post" class="form-container add-rappel-container">
  <div class="form-group">
    <label for="titre">Titre</label>
    <input type="text" id="titre" name="titre" required class="form-control" value="{{rappel.titre}}">
  </div>
  <div class="form-group form-add-reminder">
    <label for="description">Description</label>
    <!-- Conteneur pour l'éditeur Quill -->
    <div id="editor">
      {{{rappel.description}}}
    </div>
    <!-- Un champ caché pour transmettre données -->
    <input type="hidden" name="description" id="description">
  </div>

  <div class="form-group form-add-reminder">
    <label for="dateFin">Date de fin</label>
    <input type="datetime-local" id="dateFin" name="dateFin" required class="form-control" value="{{rappel.dateFin}}">
  </div>

  <div class="form-group form-add-reminder">
    <label for="couleur">Couleur</label>
    <div id="colorPicker">
      {{#each Couleur}}
      <div class="color-container">
        <div class="color-block" style="background-color: {{this}};" data-color="{{this}}"></div>
      </div>
      {{/each}}
    </div>
    <input type="hidden" id="couleur" name="couleur">
  </div>

  <div class="btn-add-reminder form-add-reminder">
    <button type="submit" class="btn btn-primary btn-submit btn-valider">Valider</button>
  </div>
</form>

<script>
  //Gestion dateFin
  document.addEventListener('DOMContentLoaded', (event) => {
    var dateInput = document.getElementById('dateFin');
    var today = new Date();
    var dateToday = today.toISOString().split('T')[0];
    var timeNow = today.toTimeString().split(' ')[0].substring(0, 5);
    var dateTimeNow = dateToday + "T" + timeNow;
    dateInput.setAttribute('min', dateTimeNow);
  });

  //Gestion QuillJS
  document.addEventListener("DOMContentLoaded", function () {
    var quill = new Quill('#editor', {
      theme: 'snow'
    });

    var form = document.querySelector('.add-rappel-container');
    form.onsubmit = function () {
      var description = document.querySelector('input[name=description]');
      description.value = quill.root.innerHTML;
    };
  });

</script>